
@model List<MVC_Enrolment_demo.Models.Domain.Employee>

@{
}

<h1>Student</h1>

<table class="table"> 
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Age</th>
			<th>Date of Birth</th>
			<th>Department</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var employee in Model)
		{
			<tr>
				<td>@employee.Id</td>
				<td>@employee.Name</td>
				<td>@employee.Email</td>
				<td>@employee.Age</td>
				<td>@employee.DOB</td>
				<td>@employee.Course</td>
				<td> <a href="Employees/View/@employee.Id">View</a></td>
				
			</tr>
		}
	</tbody>

</table>